
.divided {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.text-group {
  flex: 70 0 0%;
}

.divided img {
  flex: 0 0 30%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  margin: 0.50em;
  position: relative;
}